
.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.socialIcon {
    width: 48px;
    height: 48px;
    border-radius: 8px;

    background: #E6E5FF;

    display: flex;
    justify-content: center;
    align-items: center;
}
