.card {
    box-sizing: border-box;

    position: absolute;
    width: 640px;
    min-height: 496px;
    left: calc(50% - 640px/2);
    top: calc(50% - 496px/2);

    background: #FFFFFF;
    border: 1px solid #01001F;
    border-radius: 16px;
    color: #01001F;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.darkCard {
    background: #E6E5FF;
}

.card h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
}

.card h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
}

.card h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.choice {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    /*width: 560px;*/
    width: 100%;
    height: 48px;

    padding: 0em 2em;

    background: #E6E5FF;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.darkChoice {
    background: white;
    border: 1px solid #010038;
    /*border-radius: 8px;*/
}

.above {
    z-index: 10;
}

.winner {
    border: 2px solid #130FFF;
}

.submitted {
    border: 1px solid #010038;
    justify-content: center;
    gap: 10px;
}

.percentage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.sizeBar {
    position: absolute;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    left: 0px;
    background: #D2D1FFA0;
}

.selectedChoice {
    border: 3px solid #010038;
}

.activeChoice {
    cursor: pointer;
}

.activeChoice:hover {
    background: #D2D1FF;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.17);

}

.countdownContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #01001F;
}

.countdownCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdownNumber {
    width: 64px;
    height: 45px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;

}

.countdownUnit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;

}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: center;
    gap: 32px
}
