.pollCard {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #01001F;
    border-radius: 12px;

    color: #01001F;
}

.pollCardTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
    }

}

h4.activePollTitle {
    font-weight: 700;
    font-size: 18px;
}

.activePollArrow { color: #0500E1; }

.passivePollArrow { color: #676D74; }

.pollCardBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pollStatusActive, .pollStatusCompleted {
    padding: 4px 8px;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
}

.pollStatusActive {
    background: #E6E5FF;
    color: #0500E1;
}

.pollStatusCompleted {
    background: #E7E7E9;
    color: #414749;
}