.gasRequired {
  svg {
  }
}

.myPollIndicator {
  display: initial;
  margin-left: 8px;
}

.rotating {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*width: 48px;*/
  /*height: 48px;*/
  /*svg {*/
  animation: rotating 3s linear infinite;
  /*}*/
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}