.dashboardMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.dashboardMyColumn {
  flex-grow: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /*border: 1px solid red;*/
}

.dashboardOtherColumn {
  flex-grow: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /*border: 1px solid red;*/
}

.dashboardLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.createButton {
  display: flex;
  align-items: center;
  height: 48px;
}

.search, .openClosePolls, .showInaccessible {
  width: 300px;
}

.noPolls {
  display: flex;
  background: #E6E5FF;
  flex-direction: column;
  border: 1px solid #01001F;
  border-radius: 12px;
  padding: 24px;
  min-height: 600px;
  align-items: center;
  gap: 16px;
  justify-content: center;

  h4 {
    font-size: 18px
  }

  p {
    font-size: 15px;
    color: #414749;
  }
}