.fieldRow, .fieldRowRight {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  overflow: hidden;
  gap: 16px;
}

.fieldRow {
  flex-direction: row;
}

.fieldRowRight {
  flex-direction: row-reverse;
}

.fieldContainer {
  width: 100%;
  overflow: hidden;
  /*border: 1px solid green;*/
  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
}

.fieldLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

.fieldDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #676d74;
}

.fieldError {
  padding-top: 4px;
  color: red;
}

.fieldWarning {
  padding-top: 4px;
  color: chocolate;
}

.textValue {
  width: 100%;

  input {
    padding: 12px 16px;
    height: 48px;

    background: #ffffff;
    border: 1px solid #80848e;
    border-radius: 8px;
  }
}

.boolValue {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  input {
    width: 24px;
    height: 24px;
  }
}

.selectValue {
  width: 100%;

  select {
    background: white;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 0px 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
}

.fieldWithError {
  input {
    border: 1px solid red !important;
    background: #fff0fd !important;
  }

  select {
    border: 1px solid red !important;
    background: #fff0fd !important;
  }
}

.fieldWithWarning {
  input {
    border: 1px solid chocolate !important;
    background: #ffe8c0 !important;
  }

  select {
    border: 1px solid chocolate !important;
    background: #ffe8c0 !important;
  }
}

.textArrayValue {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    padding: 12px 16px;
    height: 48px;

    background: #ffffff;
    border: 1px solid #80848e;
    border-radius: 8px;
  }
}

.removeIcon {
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}

.addIcon {
  color: #130fff;
}

.disabled {
  color: gray;
}

.pointer {
  cursor: pointer;
}
