name: Build and test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Build backend
        working-directory: hardhat
        run: pnpm build
      - name: Build TypeChain contracts
        working-directory: contracts
        run: pnpm build
      - name: Test backend
        working-directory: hardhat
        run: pnpm test
      - name: Build demo frontend.demo
        working-directory: frontend.demo
        run: pnpm build
      - name: Build demo frontend
        working-directory: frontend
        run: pnpm build
